body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('buz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    background-color: gray;
    color: white;
    padding: 20px 20px 2px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  #main-menu {
    display: none;
  }
  
  #main-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  #main-menu ul li {
    display: inline;
    margin-right: 20px;
  }
  
  #main-menu ul li a {
    color: #fff;
    text-decoration: none;
  }

  #main-menu ul li a:hover {
    border-bottom: 2px solid blue;
  }
  
  .current{
    border-bottom: 2px solid red;
  }
  
  .content {
    padding: 20px;
  }

  .parent{
    display: flex;
  }

  #pfp{
    height: 500px;
  }

  #text{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    margin: 0px 5px;
  }

  p{
    text-align: left;
  }
